
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
<h4>真的要重置密碼嗎?</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" id="Id" value="@ViewBag.Id" />
    <input type="submit" class="btn btn-success" value="確定" />
}

